{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": 50,
        "ie": 10
      },
      "include": [
        "es6.object.assign",
        "transform-spread",
        "transform-parameters",
        "proposal-object-rest-spread"
      ]
    }]
  ]
}