{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "prettier/react",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
  },
  "env": {
    "es6": true,
    "node": true
  }
}